* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --spotify-player: 90px;
  --spotify-menu: 60px;
}

/*UTILITY*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #141922;
}

#spotify-content {
  height: calc(100vh - var(--spotify-player));

  display: flex;
}

#spotify-home {
  width: calc(100% - var(--spotify-menu));
}
/*spotify-menu*/
.spotify-menu {
  width: var(--spotify-menu);
  background-color: black;
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.spotify-menu .spotify-logo {
  padding: 15px 0;
  text-align: center;
}
.small-logo {
  width: 35px;
}
.big-logo {
  display: none;
}
.list-logo {
  text-align: center;
}

.list-menu li {
  padding-bottom: 10px;
}
.list-menu img {
  width: 30px;
  color: #808080;
}

.list-menu span {
  display: none;
  color: #808080;
}
/* PLAYLIST*/
#playlist {
  color: #808080;
  display: none;
}
.list-playlist {
  max-height: 300px;
  overflow: auto;
}
.list-playlist li {
  padding: 0.3rem 0;
}
.create-playlist {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}
.button-playlist {
  width: 30px;
  height: 30px;
  background-color: #808080;
}

#playlist h3 {
  color: white;
  font-size: medium;
  margin: 20px 0;
}

/*DOWNLOAD SONG*/
.download-song {
  text-align: center;
  margin-top: auto;
  padding-bottom: 0.4rem;
  color: grey;
}
.download-song img {
  width: 20px;
}
.download-song span {
  display: none;
}
.spotify-menu hr {
  border: 1px solid #808080;
  display: none;
}
.users {
  text-align: center;
  padding-top: 1rem;
}
.users span {
  display: none;
  color: white;
  vertical-align: middle;
  padding-left: 8px;
}

.users img {
  width: 30px;
  background-color: #808080;
  border-radius: 50%;
  vertical-align: middle;
}
/*SPOTIFY-PLAYER*/
#spotify-player {
  height: var(--spotify-player);
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}
#spotify-player .song {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 10px;
  color: #808080;
}
#spotify-player img {
  width: 30px;
}
.icon-theme .fa-heart {
  display: block;
  padding-bottom: 5px;
}
.icon-theme {
  margin-left: 10px;
  font-size: 0.8rem;
}
.name-song h3 {
  color: white;
  font-size: 1rem;
}
.name-song p {
  font-size: small;
}
#spotify-player .song-volume {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #808080;
}
.song-volume .fa-volume-high,
.fa-desktop,
.fa-list {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
}
.song-volume .volume-small {
  width: 20%;
  border: 2px solid rgb(160, 160, 160);
}
.song-volume .volume-high {
  width: 80px;
  border: 1px solid #575757;
  background-color: #575757;
  border-radius: 999px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.song-play {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 30px;

  color: #808080;
}
.icon-player {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  align-items: center;
  color: white;
}
.icon-player .fa-circle-play {
  font-size: 2rem;
}

.flex-playback-bar {
  display: flex;
  justify-content: space-between;
}
.playback-bar {
  width: 100%;
}
.playback-bar .bar {
  width: 100%;
  border: 1px solid grey;
  background-color: grey;
}
.min-bar {
  width: 30%;
  border: 1px solid lightgrey;
}

@media screen and (min-width: 640px) {
  .spotify-menu {
    width: 300px;
  }

  .spotify-menu .spotify-logo {
    padding: 10px 0;
    text-align: start;
  }
  .small-logo {
    display: none;
  }
  .big-logo {
    display: block;
    width: 8rem;
  }
  .list-logo {
    text-align: start;
  }
  .list-menu span {
    display: inline;

    vertical-align: middle;
    padding-left: 10px;
  }
  .list-menu img {
    vertical-align: middle;
  }

  #playlist {
    display: block;
  }

  .download-song {
    text-align: start;
  }
  .download-song span {
    display: inline-block;

    vertical-align: middle;
    padding-left: 5px;
  }
  .download-song img {
    vertical-align: middle;
  }
  .spotify-menu hr {
    display: block;
  }
  .users {
    text-align: start;
  }
  .users span {
    display: inline-block;
  }
}
